@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.layout {
    @include flex-start($direction: column);
    width: 100%;
    // height: 100dvh;
    // overflow: hidden;
    background: #FFF;

    .mainLayout {
        @include flex-start;
        width: 100%;

        .sideBarContainer {
            width: 20%;
        }

        .content {
            @include flex-start($direction: column);
            width: 80%;
            // height: calc(100dvh - 100px);
            margin-top: 100px;
            padding: 0px 40px;
            overflow: hidden;
        }
    }
}

@include mobile {
    .layout {
        width: 100%;
        height: auto;

        .mainLayout {
            width: 100%;

            .sideBarContainer {
                width: auto;
            }

            .content {
                height: auto;
                margin-top: 76px;
                // height: calc(100dvh - 76px);
                margin-left: 20%;
                padding: 0 8px;
                overflow: scroll;
                scrollbar-width: none;
            }
        }
    }
}