@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.layout {
    @include flex-start($direction: column);
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background: #FFF;

    main {
        @include flex-start;
        width: 100%;

        .sideBarContainer {
            width: 20%;
        }

        .content {
            width: 80%;
            height: calc(100dvh - 100px);
            margin-top: 100px;
            padding: 32px 48px;
        }
    }
}