:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Avenir;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: Avenir-medium;
  src: url("../assets/fonts/AvenirNextLTPro-MediumIt.otf");
}

@font-face {
  font-family: Avenir-bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: Avenir-heavy;
  src: url("../assets/fonts/AvenirNextLTPro-Heavy.otf");
}

@font-face {
  font-family: Avenir-light;
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf");
}

@font-face {
  font-family: Avenir-semi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
