:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ui: var(--font-work-sans);
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Heavy.otf") format("opentype");
  font-weight: 800;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-ui), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-ui {
  font-family: var(--font-work-sans), sans-serif;
}

.font-avenir {
  font-family: "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
