@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.sideBar {
    height: 100dvh;
    width: 20%;
    overflow: hidden;
    position: fixed;
    background-color: #FFF;
    box-shadow: 0px 5px 20px 0px #0000000A;


    .container {
        width: 100%;
        height: calc(100% - 100px);
        margin-top: 100px;
        padding: 40px 0;
        @include flex-start($direction: column);
        overflow-y: scroll;
        gap: 24px;

        .switchOrg {
            @include flex-start;
            gap: 12px;
            padding: 0 32px;

            h4 {
                font-family: $work;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0px;
                color: #213F7D;
            }
        }

        .dashboardLink {
            @include flex-start;
            gap: 12px;
            padding: 0 32px;

            h3 {
                font-family: $work;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0px;
                color: #213F7D;
                opacity: 0.6;

            }
        }
        .dashboardTabs {
                @include flex-start($direction: column);
                gap: 16px;
                width: 100%;

                h5 {
                    font-family: $work;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: #545F7D;
                    text-transform: uppercase;
                    margin-left: 32px;
                }

                .tab {
                    @include flex-start;
                    align-items: center;
                    gap: 12px;
                    opacity: 0.6;
                    width: 100%;
                    padding: 12px 32px;
                    transition: all 0.3s ease;

                    h3 {
                        font-family: Work Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0px;
                        color: #213F7D;
                        transition: all 0.3s ease;
                    }
                }

                .active {
                    position: relative;
                    border-left: #39CDCC 3px solid;
                    opacity: 1;
                }
                .active:after {
                    background-color: #39CDCC;
                    width: 100%;
                    height: 100%;
                    content: "";
                    position: absolute;
                    opacity: 6%;
                    left: 0;
                }
            }
    }
}