@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as *;

.mainPage {
    width: 100%;
    height: 100%;
    padding: 24px 0;

    h1 {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #213F7D;
    }
}